@import "tailwindcss";
@font-face {
  font-family: "Relieve";
  src: url("./assets/fonts/Relieve.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  background: -webkit-linear-gradient(
    180deg,
    #040400,
    #2f485c,
    #b5412a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    180deg,
    #040400,
    #2f485c,
    #b5412a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@theme {
  --color-primary: #6b2f4a;
  --font-Roboto: "Roboto", sans-serif;
  --font-general: "poppins", sans-serif;
  --font-Relieve: "Relieve", sans-serif;
}
